ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color: black;
}

.li{
     text-decoration: none;
    padding: 0.8rem;
    font-family: 'Bruno Ace SC', cursive;
    color: white;
}
Link{
    text-decoration: none;
    color: white;
}

